@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+JP:wght@900&display=swap');

 * {
    margin: 0;
    padding: 0;

} 

#roww {
margin-top: 30px;
}

.nobulet {
    list-style:  none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
}

.github-linkedin a {
    margin-right: 20px;
}

 .companies {
    font-size: 22px; 
    list-style: none;
}

.project-links {
    font-size: 18px;
    font-weight: 600;
}


.date {
    font-size: 18px;
    font-weight: 600;
    
}


li {
    font-size: 21px;
}

.about_me-and-technical-skill {
    font-size: 18px;
}

.header-text {
    font-size: 24px;
}

li {
    font-size: 18px;
}










